<center>
<h3>System Usage</h3>
<img style="padding-left: 8px; padding-right: 8px;" width="<{$xsize_b}>" src="<{$xoops_url}>/modules/usage/graph/usagegraph-line.php?xsize=<{$xsize_b}>&ysize=<{$ysize_b}>">
<img style="padding-left: 8px; padding-right: 8px;" width="<{$xsize_b}>" src="<{$xoops_url}>/modules/usage/graph/usagegraph-bar.php?xsize=<{$xsize_b}>&ysize=<{$ysize_b}>"><br/>
<img style="padding-left: 8px; padding-right: 8px;" width="<{$xsize}>" src="<{$xoops_url}>/modules/usage/graph/usagegraph-fillarea.php?xsize=<{$xsize}>&ysize=<{$ysize}>"><br/>
<div style="clear:both;">&nbsp;</div>
<div><div style="float:left; width:50%;"><h3>Top 13 Countries</h3>
<img style="padding-left: 8px; padding-right: 8px;" width="<{$xsize_b}>" src="<{$xoops_url}>/modules/usage/graph/usagegraph-country.php?xsize=<{$xsize_b}>&ysize=<{$ysize_b}>"></div>
<div style="float:left;  width:50%;">
<h3>Top 13 Suffixs</h3>
<img style="padding-left: 8px; padding-right: 8px;" width="<{$xsize_b}>" src="<{$xoops_url}>/modules/usage/graph/usagegraph-suffix.php?xsize=<{$xsize_b}>&ysize=<{$ysize_b}>"></div></div>
<div style="clear:both;">&nbsp;</div>
</center>
<div style="clear:both; height: 45px;">&nbsp;</div>
<h2>Usage Integrity</h2>
<div style="clear:both; height: 21px;">&nbsp;</div>
<p align="left"><strong>System Usage Integrity</strong> : <{$integrity}></center><br/>
<strong>Complete System Integrity</strong> : <{$complete_integrity}><br/>
<div style="clear:both; height: 45px;">&nbsp;</div>
<h2>Quarantine Integrity</h2>
<div style="clear:both; height: 21px;">&nbsp;</div>
<p align="left"><strong>Quarantine Integrity</strong> : <{$quarantine_integrity}></center><br/></p>
<strong>Quarantine Alpha Integrity</strong> : <{$quarantine_integrity_a}></center><br/>
<strong>Quarantine Bravo Integrity</strong> : <{$quarantine_integrity_b}></center><br/>
<strong>Quarantine Charley Integrity</strong> : <{$quarantine_integrity_c}></center><br/>
<strong>Quarantine Delta Integrity</strong> : <{$quarantine_integrity_d}></center><br/>
<strong>Quarantine Echo Integrity</strong> : <{$quarantine_integrity_e}></center><br/>
<strong>Complete Quarantine Integrity</strong> : <{$complete_quarantine_integrity}></center></p>